* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(./a.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 3rem;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 129px 0px 12px 0px;
  color: #fff;
}
.firstP {
  font-size: 20px;
  letter-spacing: 0.41px;
  margin: 0px 16px 70px 16px;
  color: #fff;
}
input {
  display: block;
  background: #f2f2f7;
  margin: 0px auto 17px auto;
  width: 85vw;
  height: 48px;
  border: none;
  border-radius: 6px;
  padding-left: 14px;
  color: #929292;
  font-size: 16px;
  letter-spacing: -0.41px;
  max-width: 22rem;
}
.forgotPass {
  display: block;
  text-decoration: none;
  color: #007aff;
  font-size: 16px;
  text-align: right;
  margin-right: 16px;
  margin-bottom: 20px;
}
button {
  display: block;
  background: rgba(0, 0, 0, 0.94);
  width: 80vw;
  max-width: 22rem;
  height: 48px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 17px;
  letter-spacing: -0.41px;
  margin: 0px auto 215px auto;
}
.Second {
  text-align: center;
  color: rgba(0, 0, 0, 0.51);
  font-weight: 500;
  font-size: 16px;
}
.Second a {
  text-decoration: none;
  color: #007aff;
}

.login {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 24rem;

}

.login {
  background: #ddd3;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  padding: 0rem 0.9rem 2rem;
  }

@media screen and (min-width: 769px){
  .login {
    background: #ddd3;
    margin-top: 3rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(4px);
    }

    h1 {
      color: #222;
    }

    .firstP {
      color: #222;
    }
}